<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gjt.chat.dao.mapper.ChatOfflineMessageMapper" >
  <resultMap id="BaseResultMap" type="com.gjt.chat.entity.ChatOfflineMessage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sender" property="sender" jdbcType="VARCHAR" />
    <result column="reciver" property="reciver" jdbcType="VARCHAR" />
    <result column="send_time" property="sendTime" jdbcType="TIMESTAMP" />
    <result column="sendIp" property="sendip" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.gjt.chat.entity.ChatOfflineMessage" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sender, reciver, send_time, sendIp, created_at, updated_at
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from chat_offlinemessage
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from chat_offlinemessage
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gjt.chat.entity.ChatOfflineMessage" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into chat_offlinemessage (sender, reciver, send_time, 
      sendIp, created_at, updated_at, 
      content)
    values (#{sender,jdbcType=VARCHAR}, #{reciver,jdbcType=VARCHAR}, #{sendTime,jdbcType=TIMESTAMP}, 
      #{sendip,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gjt.chat.entity.ChatOfflineMessage" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into chat_offlinemessage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sender != null" >
        sender,
      </if>
      <if test="reciver != null" >
        reciver,
      </if>
      <if test="sendTime != null" >
        send_time,
      </if>
      <if test="sendip != null" >
        sendIp,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sender != null" >
        #{sender,jdbcType=VARCHAR},
      </if>
      <if test="reciver != null" >
        #{reciver,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendip != null" >
        #{sendip,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gjt.chat.entity.ChatOfflineMessage" >
    update chat_offlinemessage
    <set >
      <if test="sender != null" >
        sender = #{sender,jdbcType=VARCHAR},
      </if>
      <if test="reciver != null" >
        reciver = #{reciver,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null" >
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendip != null" >
        sendIp = #{sendip,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.gjt.chat.entity.ChatOfflineMessage" >
    update chat_offlinemessage
    set sender = #{sender,jdbcType=VARCHAR},
      reciver = #{reciver,jdbcType=VARCHAR},
      send_time = #{sendTime,jdbcType=TIMESTAMP},
      sendIp = #{sendip,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gjt.chat.entity.ChatOfflineMessage" >
    update chat_offlinemessage
    set sender = #{sender,jdbcType=VARCHAR},
      reciver = #{reciver,jdbcType=VARCHAR},
      send_time = #{sendTime,jdbcType=TIMESTAMP},
      sendIp = #{sendip,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>